<body>
    <section class="py-5">
        <div class="container">
        
        </div >
    </section>
    
    <section id="section-d">
        <div class="b">
            <%= link_to "<< Back to profile", user_path %>
        </div>

        <div class="row vertically-spaced">
            <div class="col b">
                <h2><%=@user.name%>'s Contact History</h2>
            </div>
            <div class="col">
                <a class="btn btn-first btn-sm float-right" href="/visits/new">Record a new location</a>
            </div>
        </div>

        <div class="container vertically-spaced">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Start/End Time</th>
                        <th scope="col">Exposure?</th>
                    </tr>
                </thead>
                <tbody>
                <% @user.visits.each do |visit| %>
                    <% if visit.exposure %>
                        <tr style="background-color:#FF9999">
                            <td><%= visit.start_time.to_date %></td>
                            <td><%= visit.location.name %></td>
                            <td><%= visit.times_to_s %></td>
                            <td><b><%= link_to "Yes", visit_path(visit) %></b></td>
                        </tr>
                    <% else %>
                        <tr>
                            <td><%= visit.start_time.to_date %></td>
                            <td><%= visit.location.name %></td>
                            <td><%= visit.times_to_s %></td>
                            <td>No</td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
            </table>
        </div>
    </section>
</body>