<body>
    <div class="row">
      <div class="col-lg-10 col-xl-5 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-body">
                <h3 class="card-title text-center">Visit Form</h3>
                     
                        
                            <%= form_with model: @visit do |v| %>
                                <%= v.label :your_name %>
                                <%= v.collection_select :user_id, User.all, :id, :name, { include_blank: false }, {class: 'form-control'}%><br>

                                <%= v.label :location %>
                                <%= v.collection_select :location_id, Location.all, :id, :name,{ include_blank: false }, {class: 'form-control'} %><br>

                                <%= v.label :start_time %>
                                <%= v.datetime_field :start_time, class: "form-control"%><br>

                                <%= v.label :end_time %>
                                <%= v.datetime_field :end_time, class: "form-control" %><br>

                                <%= v.label :contagious, "Are you contagious for SARS-CoV-2?" %>
                                <select class="form-control" name="visit[contagious]" id="visit_contagious">
                                    <option selected="true" disabled="disabled">-</option>  
                                    <option value="true">Contagious</option>
                                    <option value="false">Not contagious</option>
                                </select><br>

                                <hr class="my-4">

                                <div class="form-group row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
            </div>
          </div>
        </div>
</body>


