<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
                <% if flash[:notice] %>
                  <div class="alert alert-danger" role="alert">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <%= form_with model: @user do |f| %>
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control'%><br>

                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control'%><br>
                                
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %><br>
                                        
                    <%= f.label :password_confirmation, "Confirm Password" %>
                    <%= f.password_field :password_confirmation, class: 'form-control'%><br>
                                        
                    <%= f.label :res_college, "Residential College" %>
                    <%= f.collection_select :res_college_id, @colleges, :id, :name, { include_blank: false }, {class: 'form-control'} %><br>

                    <%= f.label :class_year %>
                    <%= f.select :class_year, ['2021', '2022', '2023', '2024', 'N/A'], { include_blank: false }, {class: 'form-control'} %><br>

                    <%= f.label :user_type %>
                    <%= f.select :user_type, ['Student', 'Faculty'], { include_blank: false }, {class: 'form-control'} %>

                    <hr class="my-4">
                    
                    <div class="form-group row">
                      <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
</body>