<body>
    <section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-b">
        <div class="row">

            <div class="col-5">
                <div class="container">
                    <h2><%=@user.name%>'s Profile</h2>
                    <hr class="my-4">
                </div>
                <div class="container">  
                    <h5>Residential College: <%= @user.res_college.name %></h5>
                </div>

                <div class="container">
                    <h5>Class Year: <%= @user.class_year%></h5>
                </div>

                <div class="container">
                    <h5>User Type: <%= @user.user_type%></h5>
                </div>
            </div>

            <div class="col-7">

                <div class="container">
                    <h5>Recent Visits</h5>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Start/End Time</th>
                                <th scope="col">Exposure?</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @recent_visits.each do |visit| %>
                            <% if visit.exposure %>
                                <tr style="color: red">
                                    <td><%= visit.start_date.to_date %></td>
                                    <td><%= visit.location.name %></td>
                                    <td><%= visit.dates_to_s %></td>
                                    <td>Yes</td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= visit.start_date.to_date %></td>
                                    <td><%= visit.location.name %></td>
                                    <td><%= visit.dates_to_s %></td>
                                    <td>No</td>
                                </tr>
                            <% end %>
                        <% end %>
                        </tbody>
                    </table>
                    <a class="btn btn-first btn-sm" href="/visits">See all visits</a>
                <div>

                <br>

                <div class="container">
                    <h5>Recent Tests</h5>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Facility</th>
                                <th scope="col">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @recent_tests.each do |test| %>
                            <% if test.result == "positive" %>
                                <tr style="color: red">
                                    <td><%= test.date.to_date %></td>
                                    <td><%= test.date.to_s(:time) %></td>
                                    <td><%= test.facility.name %></td>
                                    <td>Positive</td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= test.date.to_date %></td>
                                    <td><%= test.date.to_s(:time) %></td>
                                    <td><%= test.facility.name %></td>
                                    <td>Negative</td>
                                </tr>
                            <% end %>
                        <% end %>
                        </tbody>
                    </table>
                    <a class="btn btn-first btn-sm" href="/tests">See all tests</a>
                <div>
            <div>
        <div>
    </section>
</body>
