<body>
    <section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-b">
        <div class="container">
            <h2><%=@user.name%>'s Test Results</h2>
        </div>
        <div class="container">  
            <h5>Residential College: <%= @user.res_college.name %></h5>
        </div>

        <div class="container">
            <h5>Class Year: <%= @user.class_year%></h5>
        </div>
        
        <div class="container">
            <h5>All Visits:</h5>
            <ul>
            <% @user.visits.each do |v| %>
                <li><%= v.location.name %></li>
            <% end %>
            </ul>
        </div>

        <div class="container">
            <h5>Test History</h5>
        
            <% @user.tests.each do |t| %>
                <%= t.date %>
            <% end %>
            </ul>
        </div>

        <a class="btn btn-first" href="/tests/new">Test Form</a>

        <div class="container">
            <%= form_with url: "/logout", method: "delete" do |f| %>
                <%= f.submit "Logout"  %>
            <% end %>
        </div>
    </section>
</body>
