<body>
    <section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-b">
        <div class="container">
            <h2><%=@user.name%>'s Profile</h2>
            <hr class="my-4">
        </div>
        <div class="container">  
            <h5>Residential College: <%= @user.res_college.name %></h5>
        </div>

        <div class="container">
            <h5>Class Year: <%= @user.class_year%></h5>
        </div>
        
        <div class="container">
            <a href="/visits"><h5>Recent Visits</h5></a>
            <% @user.visits.limit(5).order(start_time: :desc).each do |t| %>
                <h6><%= t.location.name %> (<%= t.location.building%>) [<%=t.start_time.strftime("%m/%d/%y - %l:%M %p") %>] to [<%=t.end_time.strftime("%m/%d/%y - %l:%M %p")%>]</h6>
            <% end %>
        </div>

        <div class="container">
            <a href="/tests"><h5>Recent Tests</h5></a>
            <% @user.tests.limit(5).order(date: :desc).each do |t| %>
                <h6>[<%= t.date.strftime("%a %m/%d/%y - %r")%> at <%= t.facility.name %>] Result: <%= t.result %> </h6>
            <% end %>
        </div>

        <a class="btn btn-first" href="/tests/new">Test Form</a>
        <a class="btn btn-first" href="/visits/new">Visits Form</a>

        <div class="container">
            <%= form_with url: "/logout", method: "delete" do |f| %>
                <%= f.submit "Logout"  %>
            <% end %>
        </div>
    </section>
</body>
