<body>
    <section class="py-5">
        <div class="container">
        </div >
    </section>

    <section id="section-b">
        <div class="container">
            <h2><%=@user.name%>'s Profile</h2>
            <hr class="my-4">
        </div>
        <div class="container">  
            <h5>Residential College: <%= @user.res_college.name %></h5>
        </div>

        <div class="container">
            <h5>Class Year: <%= @user.class_year%></h5>
        </div>

        <div class="container">
            <h5>User: <%=@user.user_type %></h5>
        </div>
        
        <div class="container">
            <a href=""><h5>All Visits</h5></a>
        </div>

        <div class="container">
            <h5>Recent Tests</h5>
            <% @user.tests.limit(5).each do |t| %>
                <%= link_to t.date, t %>
            <% end %>
        </div>

        <a class="btn btn-first" href="/tests/new">Test Form</a>
        <a class="btn btn-first" href="/visits/new">Visits Form</a>

        <div class="container">
            <%= form_with url: "/logout", method: "delete" do |f| %>
                <%= f.submit "Logout"  %>
            <% end %>
        </div>
    </section>
</body>
