<section class="py-5">
    <div class="container">
    </div>
</section>
        <section id="section-c">
            <div class="container">
                <h2>Yale COVID-19 Analytics</h2>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Total Transmissions</th>
                        <th scope="col">Active Cases</th>
                        <th scope="col">Number of Tests </th>
                    </tr>
                <thead>
                <tbody>
                        <td><h5><%= Transmission.all.length %></h5></td>
                        <td><h5><%= %></h5></td>
                        <td><h5><%= Test.all.length %></h5></td>
                </tbody>
            </table>

            <div class="container">
                <h2>High Risk Locations</h2>
            </div>  

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Locations</th>
                        <th scope="col">Total Visits</th>
                        <th scope="col">Total Transmissions </th>
                    </tr>
                <thead>
                <tbody>
                    <% @locations.each do |l| %>
                        <tr>
                            <td><h5><%= l.name %></h5></td>
                            <td><h5><%= l.visits.count %></h5></td>
                            <td><h5><%= l.transmissions.count %></h5></td>
                        </tr>  
                    <% end %>
                </tbody>
            </table>

        </section>
