<section class="py-5">
    <div class="container">
    </div>
</section>
        <section id="section-c">
            <div class="container">
                <h2>Campus-wide Statistics</h2>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Total Transmissions</th>
                        <th scope="col">Active Cases</th>
                        <th scope="col">Recovered Cases</th>
                        <th scope="col">Total # of Tests Conduted</th>
                    </tr>
                <thead>
                <tbody>
                        <td><h5><%= Transmission.all.length %></h5></td>
                        <td>
                            <h5><%= @users.count {|user| user.contagious? }%></h5>
                        </td>
                        <td>
                            <h5><%= @users.count {|user| user.contagious? }%></h5>
                        </td>
                        <td><h5><%= Test.all.length %></h5></td>
                </tbody>
            </table>

            <div class="container">
                <h2>Data by Locations</h2>
            </div>  

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Building</th>
                        <th scope="col">Total Visits</th>
                        <th scope="col">Transmission Rate</th>
                    </tr>
                <thead>
                <tbody>
                    <% @locations.each do |l| %>
                        <tr>
                            <td><h5><%= l.name %></h5></td>
                            <td><h5><%= l.building %></h5></td>
                            <td><h5><%= l.visits.count %></h5></td>
                            <td><h5><%= l.transmission_percent %></h5></td>
                        </tr>  
                    <% end %>
                </tbody>
            </table>

        </section>
