<body>
    <section class="py-5">
        <div class="container">
        
        </div >
    </section>
    
    <section id="section-b">
        <%= link_to "<< Back to profile", user_path %>

        <br>

        <div class="container">
            <h2><%=@user.name%>'s Test History</h2>
        </div>

        <a class="btn btn-outline-primary" href="/tests/new">Submit a new test result</a>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Test Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Facility</th>
                        <th scope="col">Result</th>
                    </tr>
                <thead>
                <tbody>
                    <% @user.tests.each do |test| %>
                            <% if test.result == "positive" %>
                                <tr  style="background-color:#FF9999">
                                    <td><%= test.date.to_date %></td>
                                    <td><%= test.date.to_s(:time) %></td>
                                    <td><%= test.facility.name %></td>
                                    <td><b>Positive</b></td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= test.date.to_date %></td>
                                    <td><%= test.date.to_s(:time) %></td>
                                    <td><%= test.facility.name %></td>
                                    <td>Negative</td>
                                </tr>
                            <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </section>
</body>