<body>
    <div class="row">
      <div class="col-lg-10 col-xl-5 mx-auto">
        <% if flash[:notice] %>
          <div class="alert alert-primary" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <div class="card card-signin flex-row my-5">
            <div class="card-body">
                <h5 class="card-title text-center">New Test Result for <b><%= @user.name %></b></h5>
            
                <%= form_with model: @test do |f| %>

                    <%= f.label :date %><br>
                    <%= f.datetime_field :date, class: 'form-control'%><br>
                                
                    <%= f.label :result, "Test Result" %><br>
                    <select class="form-control" name="test[result]" id="test_result">
                      <option selected="true" disabled="disabled">-</option>  
                      <option value="positive">Positive for SARS-CoV-2</option>
                      <option value="negative">Negative for SARS-CoV-2</option>
                    </select><br>

                    <%= f.label :facility %><br>
                    <%= f.collection_select :facility_id, Facility.all, :id, :name, { include_blank: false }, {class: 'form-control'} %><br>

                    <hr class="my-4">
                    
                    <div class="form-group row">
                      <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                <% end %>
            </div>
          </div>
        </div>
</body>